// мапа необроблених відхилень
const unhandled = new Map();

// додаємо необроблене відхилення його в мапу
process.on("unhandledRejection", (reason, promise) => {
  unhandled.set(promise, reason);
});

// видаляємо оброблене відхилення з мапи
process.on("rejectionHandled", (promise) => {
  unhandled.delete(promise);
});

setInterval(() => {
  unhandled.forEach((reason, promise) => {
    // обробляємо відхилені проміси.
    // наприклад:
    promise.catch(reason => console.error('Handled:', reason))
  });
  unhandled.clear();
}, 1000 * 60);
